
:root {
    --hover-color: rgb(223, 223, 223) !important;
}

.table-container {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.pensum-table {
    border-collapse: collapse;
    cursor: pointer;
}

.table-title {
    color: white;
    background-color: var(--main-color);   
    width: 100%;
    padding: 15px 10px;
    font-size: 16px;
}

.pensum-table th {
    white-space: nowrap;
}

.pensum-table th, .pensum-table td {
    font-size: 14px !important;
}

.pensum-table td {
    padding: 10px 6px;
    font-weight: 500;
}

.pensum-table tr:hover:not(.table-bottom)  {
    background-color: var(--hover-color);
}

.pensum-table th {
    font-weight: 600 !important;
}

.pensum-table tbody .cell-index-0 {
    font-weight: 700;
}

.pensum-table thead .cell:not(.cell-index-1) {
    text-align: center;
}
.pensum-table tbody .cell:not(.cell-index-1) {
    text-align: center;
}

.pensum-table tfoot .cell:not(.cell-index-0) {
    text-align: center;
}

.pensum-table tfoot td {
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    color: var(--main-color)
}

.pensum-table tfoot .table-bottom {
    background-color: var(--main-color);
}

.pensum-table tfoot .table-bottom td {
    color: white;
}

/* Cell sizes for consistency */
.pensum-table tbody .cell-index-0 {
    width: 60px;
}

.pensum-table tbody .cell-index-1,
.pensum-table tbody .cell-index-5 {
    width: 200px;
}

.pensum-table tbody .cell-index-2,
.pensum-table tbody .cell-index-3,
.pensum-table tbody .cell-index-4 {
    width: 30px;
}

/* Pensum details */
.pensum-details-table td {
    padding: 0;
}

.pensum-details-table tr:hover {
    background-color: var(--hover-color);
}

@media print {
    #pensum .pensum-table{
        display: block;
    }


}