.courses-section {
    background-image: url('../images/escuela-nacional-de-judicatura2-1600x900.jpg');
    background-position: 50% 70%;
    min-height: 300px;
}

.courses-section:after {
    background-color: var(--main-color);
    filter: brightness(0.4);
    opacity: 0.7;
}

.scroll-btn {
    --size: 70px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 50%;
    width: var(--size);
    height: var(--size);
    box-shadow: 0px 2px 5px rgba(20, 20, 20, 0.4);
    opacity: 0;
    transition: opacity 500ms;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scroll-btn i {
    font-size: 30px;
}

@media (max-width: 920px) {
    .scroll-btn {
        --size: 50px;
    }

    .scroll-btn i {
        font-size: 20px;
    }
}

#teacher-container {
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto !important;
}

.docente-col {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px 15px;
}

.docente-col .instructor-card {
    max-height: 80%;
}

@media (max-width: 1200px) {
    .docente-col {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media (max-width: 860px) {
    .docente-col {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .docente-col .instructor-card {
        max-height: 100%;
    }
}

/* Back btn */
a.back-btn {
    font-size: 14px;
    cursor: pointer;
}

.back-btn:not(:hover) {
    color: gray;
}

.back-btn i {
    padding-right: 8px;
}